<div class="container">
  <div class="contactus">
    <%=  cl_image_tag("banner2", :class => "bannerimg1" )%>
    <h1>Contact Us</h1>
    <p>For marketing and content related issues, please contact :
    <a href="mailto:abc@abc.co">Marketing Dept.</a></p>

    <p>For technical support and other site related enquiries, please contact :
    <a href="mailto:abc@abc.co">Technical Dept.</a></p>
  </div>
</div>
