<h1>Healthy food</h1>
<% if @current_user.present? %>
 <!-- session[:user_id] -->
  Welcome back <%= @current_user.email %>
  <!-- User.find(session[:user_id]) -->
<% end %>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eius quae aut, voluptatibus, sint deleniti, perferendis ratione ullam, maxime quo possimus quisquam. Possimus illum quo sit aperiam totam a consequatur.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eius quae aut, voluptatibus, sint deleniti, perferendis ratione ullam, maxime quo possimus quisquam. Possimus illum quo sit aperiam totam a consequatur.</p>
