<h1>Food Types</h1>

<% @foodtypes.each do |foodtype| %>
<ul>
  <!-- <li><%= link_to foodtype.shortname,  "/recipes/types_index/#{foodtype.shortname}" %> - <%= foodtype.title  %></li> -->
  <li>
    <%= link_to foodtype.shortname,foodtype %> - <%= foodtype.title  %>
  </li>

</ul>


<% end %>
