<h1>Food Types</h1>
<% @foodtypes.each do |foodtype| %>
<ul>
  <li><%= link_to foodtype.shortname,  foodtype %> - <%= foodtype.title  %></li>
  <!-- <li><%= link_to foodtype.title, foodtype %></li> -->
</ul>
<% end %>
